.host {
  width: 450px;
  height: 600px;
  display: grid;

  &.defaultGrid {
    grid-template-areas: 
    'a a'
    'c c'
    'd d'
    'e f';
    grid-template-rows: 70px 48px auto 24px;
  }

  &.subtitleGrid {
    grid-template-areas: 
      'a a'
      'b b'
      'c c'
      'd d'
      'e f';
    grid-template-rows: 70px 48px 52px auto 32px;
  }

  &>[grid-area="logo"] {
    grid-area: a;
    justify-self: center;
    align-self: center;
  }

  &>[grid-area="title"] {
    grid-area: b;
    justify-self: center;
    align-self: center;
  }

  &>[grid-area="subtitle"] {
    grid-area: c;
    justify-self: center;
  }

  &>[grid-area="content"] {
    grid-area: d;
    justify-content: center;
    align-items: center;
  }

  &>[grid-area="footer-left"] {
    grid-area: e;
    align-self: center;
    justify-self: left;
  }

  &>[grid-area="footer-right"] {
    grid-area: f;
    align-self: center;
    justify-self: right;
  }
}
