<label 
  [for]="for"
  [fctFontSize]="textSize"
  [fctFontStyle]="textStyle"
  [fctTextColor]="textColor"
  [fctTextTransform]="textTransform"
  [fctTextAlign]="textAlign"
  [fctLineHeight]="lineHeight">
  <ng-content></ng-content>
  <fct-text 
    *ngIf="required"
    [textColor]="'error'">*</fct-text>
</label>