:host {
  .quick-modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    display: grid;
    justify-content: center;

    .quick-modal-container {
      background: var(--background-primary);
      width: 800px;
      height: 0;
      border: 1px solid var(--border-primary);
      transition: height 0.1s ease-in-out;
      box-shadow: 0px 0px 0.5px 0px rgba(26, 54, 91, 0.36);
    }

    &.visible {
      width: 100vw;
      height: 100vh;
      visibility: visible;

      .quick-modal-container {
        height: 600px;
      }
    }
  }
}