.host {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.visible {
  width: 100%;
  display: flex;
  justify-content: center;
}

.quickModal {
  background: var(--quick-modal-background);
  box-shadow: 0px 3px 6px 0px var(--quick-modal-box-shadow);
  width: 540px;
  max-height: 350px;
  overflow: hidden;
}