.fct-icon-size--xs {
  width: var(--icon-size-extra-small);
  height: var(--icon-size-extra-small);
}

.fct-icon-size--s {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.fct-icon-size--m {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
}

.fct-icon-size--l {
  width: var(--icon-size-large);
  height: var(--icon-size-large);
}

.fct-icon-size--xl {
  width: var(--icon-size-extra-large);
  height: var(--icon-size-extra-large);
}