:host {
  [font-size="xxs"] {
    font-size: var(--text-size-xxs);
  }

  [font-size="xs"] {
    font-size: var(--text-size-xs);
  }

  [font-size="s"] {
    font-size: var(--text-size-s);
  }

  [font-size="m"] {
    font-size: var(--text-size-m);
  }

  [font-size="l"] {
    font-size: var(--text-size-l);
  }

  [font-size="xl"] {
    font-size: var(--text-size-xl);
  }

  [font-size="xxl"] {
    font-size: var(--text-size-xxl);
  }
}