:host {
  [text-transform="uppercase"] {
    text-transform: uppercase;
  }
  
  [text-transform="lowercase"] {
    text-transform: lowercase;
  }
  
  [text-transform="capitalize"] {
    text-transform: capitalize;
  }
}
