.host {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}

.projectHeading {
  height: 48px;
  line-height: 48px;
  padding-left: 6px;
  background: #fafafa;
  border-bottom: 
    var(--asap-project-sidebar-border-width)
    solid
    var(--asap-project-sidebar-border-color);
}
