[grid-type="expanded"] {
  display: grid;
  grid-template-areas: 
    'a b'
    'c d'
  ;
  grid-template-rows: 36px 24px;
  grid-template-columns: 150px auto;
  column-gap: 12px;

  [grid-area="label"] {
    grid-area: a;
    text-align: right;
  }

  [grid-area="input"] {
    grid-area: b;
  }

  [grid-area="messages"] {
    grid-area: d;
    line-height: 24px;
  }
}

[grid-type="simple"] {
  display: grid;
  grid-template-rows: 36px 24px;
  [grid-area="messages"] {
    line-height: 24px;
  }
}

input {
  height: 30px;
  padding: 3px 6px;
  width: calc(100% - 12px);
  border-radius: 3px;
  border: 1px solid var(--input-border-color);
  background: var(--input-background-color);
  outline: 0;

  &::placeholder {
    color: var(--input-placeholder-color);
    font-family: Nudista-Light-Italic;
  }

  &.ng-invalid.ng-touched {
    border-color: var(--input-invalid-border-color);
  }
}
