<div 
  [attr.grid-type]="gridType"
>
  <label 
    *ngIf="gridType === 'expanded'" 
    [for]="name"
    grid-area="label"
  >
    <fct-paragraph 
      [textStyle]="'thin-italic'"
      [lineHeight]="'m'"
      [textAlign]="'right'"
      >
      {{label}}:
    </fct-paragraph>
  </label>
  <div grid-area="input">
    <input 
      #inputElement
      [name]="name"
      [type]="inputType" 
      [placeholder]="gridType === 'simple' ? label : placeholder"
      [fctTextTransform]="textTransform"
      [fctFontSize]="textSize"
      [fctTextColor]="textColor"
      [fctFontStyle]="textStyle"
      [attr.autocomplete]="autocomplete"
      (change)="handleChange($event)"
      (focus)="handleFocus()">  
  </div>
  <div grid-area="messages">
    <fct-form-error-message errorType="required">
      Value is required!
    </fct-form-error-message>
    <ng-content ngProjectAs="[role='errors']"></ng-content>
  </div>
</div>