:host {
  button {
    border: 0;
    padding: 6px 24px;
    min-width: 140px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 1.5px 1px 0px #b4b8bd;
    background: var(--button-background-color-ultra-light);
    transition: 
        background 0.35s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &.fullWidth {
      width: 100%;
    }

    &[disabled] {
      cursor: initial;
    }

    &:hover:not([disabled]) {
      background: var(--button-background-color-light);
      box-shadow: 0px 2px 2px 0px var(--button-hover-shadow-color);
    }

    &:active:not([disabled]) {
      background: var(--button-background-color-light);
      outline: 0;
      box-shadow: 0px 2px 2px -1px var(--button-active-shadow-color);
    }

    &:focus {
      outline: 0;
    }
  }
}
