<button
  [type]="type"
  [name]="name"
  [disabled]="disabled"
  [ngClass]="{ fullWidth: fullWidth }"
  [fctBackgroundColor]="backgroundColor"
  (click)="handleClick($event)">
  <fct-text
      [textStyle]="textStyle"
      [textColor]="textColor"
      [textSize]="textSize">
    <ng-content></ng-content>
  </fct-text>
</button>