@keyframes fadeInOut {
  0% {
    fill: transparent;
    stroke-width: 0;
  }
  12.5% {
    fill: var(--anim-color);
    stroke-width: 1.5;
    stroke: #eee;
  }
  62.5% {
    fill: var(--anim-color);
    stroke-width: 1.5;
    stroke: #eee;
  }
  75% {
    fill: transparent;
    stroke-width: 0;
  }
  100% {
    fill: transparent;
    stroke-width: 0;
  }
}

.host {
  position: relative;
}

.label {
  position: absolute;
  top: 48%;
  width: 100%;
}

.frag {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  fill: transparent;
}
.frag1 {
  --anim-color: #005CA9;
  animation-name: fadeInOut;
}
.frag2 {
  --anim-color: #005CA9;
  animation-name: fadeInOut;
  animation-delay: 0.3s
}
.frag3 {
  --anim-color: #D51C29;
  animation-name: fadeInOut;
  animation-delay: 0.6s
}
.frag4 {
  --anim-color: #D51C29;
  animation-name: fadeInOut;
  animation-delay: 0.9s
}
.frag5 {
  --anim-color: #FFCB05;
  animation-name: fadeInOut;
  animation-delay: 1.2s
}
.frag6 {
  --anim-color: #FFCB05;
  animation-name: fadeInOut;
  animation-delay: 1.5s
}
