:host {
  [line-height=xs] {
    line-height: var(--paragraph-line-height-xs);
  }
  [line-height=s] {
    line-height: var(--paragraph-line-height-s);
  }
  [line-height=m] {
    line-height: var(--paragraph-line-height-m);
  }
  [line-height=l] {
    line-height: var(--paragraph-line-height-l);
  }
  [line-height=xl] {
    line-height: var(--paragraph-line-height-xl);
  }
  [line-height=xxl] {
    line-height: var(--paragraph-line-height-xxl);
  }
}