.single-color-primary {
  fill: var(--text-color-primary);
  stroke: #e6e6e6;
}
.single-color-secondary {
  fill: var(--text-color-secondary);
  stroke: #e6e6e6;
}
.single-color-marginal {
  fill: var(--text-color-marginal);
  stroke: #e6e6e6;
}
.single-color-error {
  fill: var(--text-color-error);
  stroke: #e6e6e6;
}
.single-color-success {
  fill: var(--text-color-success);
  stroke: #e6e6e6;
}
.single-color-warning {
  fill: var(--text-color-warning);
  stroke: #e6e6e6;
}
.single-color-disabled {
  fill: var(--text-color-disabled);
  stroke: #e6e6e6;
}
.single-color-inverted {
  fill: var(--text-color-inverted);
  stroke: #e6e6e6;
}
