.listItem {
  padding: 0 6px;
  cursor: pointer;
  line-height: 24px;
  display: flex; 

  &:hover {
    background: var(--asap-editor-selection-background);
  }
  &.selected {
    background: var(--asap-editor-selection-background);
  }
}

.listIcon {
  width: 24px;
  padding-top: 2px;
  height: 22px;
}