<div class="email">
  <h1>Password recovery request!</h1>
  <p>Dear {{firstName}} {{lastName}}</p>
  <p>You requested password recovery for your <b>4ct platform</b> account.</p>
  <p>
    Please follow this link in order to reset your password.
    <a href="{{url}}">{{url}}</a>
  </p>
  <p>
    If you did not requested password recovery, please ignore this email!
  </p>
  <p>Thank you</p>
  <p>4ct authentication service</p>
</div>