<div class="email">
  <h1>Registration completed!</h1>
  <p>Dear {{firstName}} {{lastName}}</p>
  <p>You have successfully created new user at <b>4ct platform</b></p>
  <p>
    Please follow this link in order to complete registration 
    process.
    <a href="{{url}}">{{url}}</a>
  </p>
  <p>Thank you</p>
  <p>4ct authentication service</p>
</div>