.host {
  &.extended {
    display: grid;
    grid-template-areas: 
      'a b'
      'a c';
    grid-template-columns: 120px auto;
  }

  [grid-area="label"] {
    grid-area: a;
    line-height: var(--input-line-height);
  }

  [grid-area="input"] {
    grid-area: b;
  }

  [grid-area="messages"] {
    grid-area: c;
  }
}