.heading-size-xxs {
  font-size: var(--heading-size-xxs);
}

.heading-size-xs {
  font-size: var(--heading-size-xs);
}

.heading-size-s {
  font-size: var(--heading-size-s);
}

.heading-size-m {
  font-size: var(--heading-size-m);
}

.heading-size-l {
  font-size: var(--heading-size-l);
}

.heading-size-xl {
  font-size: var(--heading-size-xl);
}

.heading-size-xxl {
  font-size: var(--heading-size-xxl);
}

.heading-line-height-xs {
  line-height: var(--heading-line-height-xs);
}
.heading-line-height-s {
  line-height: var(--heading-line-height-s);
}
.heading-line-height-m {
  line-height: var(--heading-line-height-s);
}
.heading-line-height-l {
  line-height: var(--heading-line-height-l);
}
.heading-line-height-xl {
  line-height: var(--heading-line-height-xl);
}