@font-face {
  font-family: Nudista-Bold;
  src: url(/assets/fonts/nudista/Nudista-Bold.ttf);
}

@font-face {
  font-family: Nudista-Italic;
  src: url(/assets/fonts/nudista/Nudista-Bold-Italic.ttf);
}

@font-face {
  font-family: Nudista-Light;
  src: url(/assets/fonts/nudista/Nudista-Light.ttf);
}

@font-face {
  font-family: Nudista-Light-Italic;
  src: url(/assets/fonts/nudista/Nudista-Light-Italic.ttf);
}

@font-face {
  font-family: Nudista-Medium;
  src: url(/assets/fonts/nudista/Nudista-Medium.ttf);
}

@font-face {
  font-family: Nudista-Medium-Italic;
  src: url(/assets/fonts/nudista/Nudista-Medium-Italic.ttf);
}

@font-face {
  font-family: Nudista-Semibold;
  src: url(/assets/fonts/nudista/Nudista-Semibold.ttf);
}

@font-face {
  font-family: Nudista-Semibold-Italic;
  src: url(/assets/fonts/nudista/Nudista-Semibold-Italic.ttf);
}

@font-face {
  font-family: Nudista-Thin;
  src: url(/assets/fonts/nudista/Nudista-Thin.ttf);
}

@font-face {
  font-family: Nudista-Thin-Italic;
  src: url(/assets/fonts/nudista/Nudista-Thin-Italic.ttf);
}