.host {
  &.extended {
    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 120px auto;
  }

  [grid-area="label"] {
    grid-area: a;
    line-height: var(--input-line-height);
  }

  [grid-area="input"] {
    grid-area: b;
    cursor: pointer;
  }
}