.fct-icon-fill-color--primary {
  fill: var(--icon-fill-color-primary);
}

.fct-icon-fill-color--secondary {
  fill: var(--icon-fill-color-secondary);
}

.fct-icon-fill-color--marginal {
  fill: var(--icon-fill-color-marginal);
}

.fct-icon-fill-color--error {
  fill: var(--icon-fill-color-error);
}

