.fct-icon-stroke-width--extra-thin {
  stroke-width: var(--icon-stroke-width-extra-thin);
}

.fct-icon-stroke-width--thin {
  stroke-width: var(--icon-stroke-width-thin);
}

.fct-icon-stroke-width--light {
  stroke-width: var(--icon-stroke-width-light);
}

.fct-icon-stroke-width--regular {
  stroke-width: var(--icon-stroke-width-regular);
}

.fct-icon-stroke-width--semibold {
  stroke-width: var(--icon-stroke-width-semibold);
}

.fct-icon-stroke-width--bold {
  stroke-width: var(--icon-stroke-width-bold);
}

.fct-icon-stroke-width--extra-bold {
  stroke-width: var(--icon-stroke-width-extra-bold);
}
