<ng-container [ngSwitch]="level">
  <h1 *ngSwitchCase="HEADING_TYPE.H1" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h1>
  <h2 *ngSwitchCase="HEADING_TYPE.H2" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h2>
  <h3 *ngSwitchCase="HEADING_TYPE.H3" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h3>
  <h4 *ngSwitchCase="HEADING_TYPE.H4" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h4>
  <h5 *ngSwitchCase="HEADING_TYPE.H5" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h5>
  <h6 *ngSwitchCase="HEADING_TYPE.H6" [fctTextAlign]="textAlign">
    <ng-container *ngTemplateOutlet="headingContent"></ng-container>
  </h6>
</ng-container>

<ng-template #headingContent>
  <span
    [fctTextTransform]="textTransform"
    [fctFontStyle]="textStyle"
    [fctTextColor]="textColor"
    [fctFontSize]="textSize">
    <ng-content></ng-content>
  </span>
</ng-template>

