:host {
  [font-size="xxs"] {
    font-size: var(--heading-size-xxs);
  }

  [font-size="xs"] {
    font-size: var(--heading-size-xs);
  }

  [font-size="s"] {
    font-size: var(--heading-size-s);
  }

  [font-size="m"] {
    font-size: var(--heading-size-m);
  }

  [font-size="l"] {
    font-size: var(--heading-size-l);
  }

  [font-size="xl"] {
    font-size: var(--heading-size-xl);
  }

  [font-size="xxl"] {
    font-size: var(--heading-size-xxl);
  }
}
