.icon-size-xxs {
  width: var(--icon-size-xxs);
  height: var(--icon-size-xxs);
}

.icon-size-xs {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.icon-size-s {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

.icon-size-m {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.icon-size-l {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

.icon-size-xl {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.icon-size-xxl {
  width: var(--icon-size-xxl);
  height: var(--icon-size-xxl);
}

// Text color:
.icon-stroke-color-primary {
  stroke: var(--text-color-primary);
}
.icon-stroke-color-secondary {
  stroke: var(--text-color-secondary);
}
.icon-stroke-color-marginal {
  stroke: var(--text-color-marginal);
}
.icon-stroke-color-error {
  stroke: var(--text-color-error);
}
.icon-stroke-color-success {
  stroke: var(--text-color-success);
}
.icon-stroke-color-warning {
  stroke: var(--text-color-warning);
}
.icon-stroke-color-disabled {
  stroke: var(--text-color-disabled);
}
.icon-stroke-color-inverted {
  stroke: var(--text-color-inverted);
}

.icon-fill-color-primary {
  fill: var(--text-color-primary);
}
.icon-fill-color-secondary {
  fill: var(--text-color-secondary);
}
.icon-fill-color-marginal {
  fill: var(--text-color-marginal);
}
.icon-fill-color-error {
  fill: var(--text-color-error);
}
.icon-fill-color-success {
  fill: var(--text-color-success);
}
.icon-fill-color-warning {
  fill: var(--text-color-warning);
}
.icon-fill-color-disabled {
  fill: var(--text-color-disabled);
}
.icon-fill-color-inverted {
  fill: var(--text-color-inverted);
}