:host {
  transition:
      stroke 0.3s ease-in-out;
  fill: transparent;

  [icon-fill="primary"] {
    fill: var(--icon-stroke-color-primary);
  }

  [icon-fill="secondary"] {
    fill: var(--icon-stroke-color-secondary);
  }

  [icon-fill="inverted"] {
    fill: var(--icon-stroke-color-inverted);
  }

  [icon-fill="inverted-hover"] {
    fill: var(--icon-stroke-color-inverted-hover);
  }

  [color-type="primary"] {
    stroke: var(--icon-stroke-color-primary);
  }

  [color-type="secondary"] {
    stroke: var(--icon-stroke-color-secondary);
  }

  [color-type="inverted"] {
    stroke: var(--icon-stroke-color-inverted);
  }

  [color-type="inverted-hover"] {
    stroke: var(--icon-stroke-color-inverted-hover);
  }

  &:hover [color-hover="primary"] {
    stroke: var(--icon-stroke-color-primary);
  }

  &:hover [color-hover="secondary"] {
    stroke: var(--icon-stroke-color-secondary);
  }

  &:hover [color-hover="inverted"]:hover {
    stroke: var(--icon-stroke-color-inverted);
  }

  &:hover [color-hover="inverted-hover"] {
    stroke: var(--icon-stroke-color-inverted-hover);
  }
}