.overlayLayer {
  transition: background 0.15s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.visible {
    background: #1a355b3b;
  }

  &.hidden {
    width: 0;
    height: 0;
  }
}
