.themed {
  // SIZES
  --border-radius:           2px;

  // TEXT ----------------------------------------------------------------------
  --text-size-xxs: 8px;
  --text-size-xs:  10px;
  --text-size-s:   12px;
  --text-size-m:   14px;
  --text-size-l:   16px;
  --text-size-xl:  18px;
  --text-size-xxl: 24px;

  --text-line-height-xs:  12px;
  --text-line-height-s:   18px;
  --text-line-height-m:   24px;
  --text-line-height-l:   32px;
  --text-line-height-xl:  48px;
  // HEAINDG -------------------------------------------------------------------
  --heading-size-xxs: 10px;
  --heading-size-xs:  12px;
  --heading-size-s:   14px;
  --heading-size-m:   18px;
  --heading-size-l:   22px;
  --heading-size-xl:  24px;
  --heading-size-xxl: 48px;

  --heading-line-height-xs:  16px;
  --heading-line-height-s:   24px;
  --heading-line-height-m:   32px;
  --heading-line-height-l:   48px;
  --heading-line-height-xl:  96px;

  // INPUT ---------------------------------------------------------------------
  --input-line-height: 24px;

  // ICONS ---------------------------------------------------------------------
  --icon-size-xxs: 12px;
  --icon-size-xs:  14px;
  --icon-size-s:   16px;
  --icon-size-m:   20px;
  --icon-size-l:   24px;
  --icon-size-xl:  30px;
  --icon-size-xxl: 50px;
}