.themed.dark-theme {
  // COLORS --------------------------------------------------------------------
  // Theme absolute colors
  --color-ultra-light:      rgb(238, 238, 238);
  --color-light:            rgb(168, 188, 217);
  --color-ultra-dark:       rgb(9, 26, 50);
  --color-dark:             rgb(26, 53, 91);
  --color-error:            red;
  // Theme variable colors
  --color-primary:          var(--color-ultra-dark);
  --color-secondary:        var(--color-dark);

  // BACKGROUNDS ---------------------------------------------------------------
  --background-ultra-light: var(--color-ultra-light);
  --background-light:       var(--color-light);
  --background-dark:        var(--color-dark);
  --background-ultra-dark:  var(--color-ultra-dark);

  --background-primary:     var(--color-ultra-light);
  --background-secondary:   var(--color-light);

  // APP -----------------------------------------------------------------------
  --app-background:          var(--color-dark);

  // TEXT ----------------------------------------------------------------------
  --text-color-primary:      #ffffff;
  --text-color-secondary:    rgb(126, 147, 158);
  --text-color-marginal:     #eaeaea;
  --text-color-error:        var(--color-error);
  --text-color-disabled:     #727677;
  --text-color-warning:      var(--color-warning);
  --text-color-success:      var(--color-success);
  --text-color-inverted:     #000;
}
