.themed.light-theme {
  // COLORS --------------------------------------------------------------------
  // Theme absolute colors
  --color-ultra-light:      rgb(238, 238, 238);
  --color-light:            rgb(168, 188, 217);
  --color-ultra-dark:       rgb(9, 26, 50);
  --color-dark:             rgb(26, 53, 91);
  --color-error:            red;
  --color-warning:          rgb(255, 188, 62);
  --color-success:          rgb(100, 163, 111);

  // Theme variable colors
  --color-primary:          var(--color-ultra-dark);
  --color-secondary:        var(--color-dark);
  --color-marginal:       rgb(224, 224, 224);

  // BACKGROUNDS ---------------------------------------------------------------
  --background-ultra-light: #fff;
  --background-light:       #fafafa;
  --background-dark:        var(--color-dark);
  --background-ultra-dark:  var(--color-ultra-dark);

  --background-primary:     var(--color-ultra-light);
  --background-secondary:   var(--color-light);

  // APP -----------------------------------------------------------------------
  --app-background:          var(--background-ultra-light);

  // TEXT ----------------------------------------------------------------------
  --text-color-primary:      #000;
  --text-color-secondary:    rgb(126, 147, 158);
  --text-color-marginal:     #eaeaea;
  --text-color-error:        var(--color-error);
  --text-color-disabled:     #727677;
  --text-color-warning:      var(--color-warning);
  --text-color-success:      var(--color-success);
  --text-color-inverted:     #ffffff;

  --text-background-light:   var(--text-color-marginal);

  // BUTTONS -------------------------------------------------------------------
  // --button-background-color-primary--hover: var(--color-light);
  // --button-background-color-primary--idle: var(--color-ultra-light);

  --button-primary-shadow--idle: #9eadbf;
  --button-primary-shadow--hover: #b6d5ec;
  --button-primary-shadow--active: #686f7c;

  --button-primary-background--idle: var(--color-dark);
  --button-primary-background--disabled: #ababaf;
  --button-primary-background--active: #062c61;
  --button-primary-background--hover: #0066b3;

  --button-secondary-shadow--idle: #e4e4e4;
  --button-secondary-shadow--hover: #b6d5ec;
  --button-secondary-shadow--active: #686f7c;

  --button-secondary-background--idle: var(--background-light);
  --button-secondary-background--disabled: #ababaf;
  --button-secondary-background--active: #0066b3;
  --button-secondary-background--hover: #468ac5;

  // INPUT ---------------------------------------------------------------------
  --input-background--idle: #f7f7f7;
  --input-background--dirty: #eaf6ff;
  --input-background--active: #ffffff;
  --input-border--idle: #c3c3c3;
  --input-active-border-color: var(--color-light);

  // ASAP THEME ----------------------------------------------------------------
  --asap-editor-view-separator-color: #cbcbcb61;
  --asap-editor-view-separator-width: 1px;
  --asap-editor-selection-background: #ccd7da4f;

  // Editor
  --asap-editor-sidebar-background:     var(--background-light);
  --asap-editor-sidebar-border-color:   var(--asap-editor-view-separator-color);
  --asap-editor-sidebar-border-width:   var(--asap-editor-view-separator-width);

  --asap-editor-footer-background:      var(--background-light);
  --asap-editor-footer-border-color:    var(--asap-editor-view-separator-color);
  --asap-editor-footer-border-width:    var(--asap-editor-view-separator-width);

  // Project sidebar
  --asap-project-sidebar-background:    var(--background-light);
  --asap-project-sidebar-border-color:  var(--asap-editor-view-separator-color);
  --asap-project-sidebar-border-width:  var(--asap-editor-view-separator-width);

  // Quick modal
  --quick-modal-background:             var(--background-light);
  --quick-modal-box-shadow:           #c7c7c7;
  --quick-modal-border-color:           var(--asap-editor-view-separator-color);
  --quick-modal-border-width:           var(--asap-editor-view-separator-width);

  // Scroll bar
  --scrollbar-background:               var(--background-light);
  --scrollbar-color-idle:               var(--asap-editor-selection-background);
  --scrollbar-color-hover:             #c7c7c7;
}
