.host {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-background); 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-idle); 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover); 
  }

  &::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-color-hover); 
  }
}