<fct-text-field
  #textField
  [name]="name"
  inputType="text"
  [label]="label"
  [autocomplete]="autocomplete">
  <ng-container role="errors">
    <fct-form-error-message errorType="email">
      Invalid email format! 
    </fct-form-error-message>
  </ng-container>
  <ng-content ngProjectAs="[role='email-errors']"></ng-content>
</fct-text-field>