:host {
  display: grid;
  grid-template-areas: 
    'a b'
    'c c';
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(2, 24px);
  grid-column-gap: 24px;

  fct-label {
    grid-area: a;
  }

  fct-input {
    grid-area: b;
  }

  .hints {
    grid-area: c;
  }
}
