<fct-label [for]="name"
  [textAlign]="labelTextAlign"
  [textColor]="labelTextColor"
  [textSize]="labelFontSize"
  [textStyle]="labelFontStyle"
  [textTransform]="labelTextTransform"
  [lineHeight]="lineHeight"
  [required]="required">
  <ng-content select="[role=label]"></ng-content>:
</fct-label>
<fct-input 
  [parentControl]="parentControl"
  [name]="name" 
  [type]="inputType"
  [lineHeight]="lineHeight"
  [textColor]="inputTextColor"
  [textStyle]="inputFontStyle"
  [autocomplete]="autocomplete">
</fct-input>
<footer class="hints"></footer>