.host {
  background: var(--asap-project-sidebar-background);
  border-right: 
    var(--asap-project-sidebar-border-width)
    solid
    var(--asap-project-sidebar-border-color);
}

.sidebarHeading {
  height: 48px;
  line-height: 48px;
}