.host {
  &.fontStyle_bold {
    font-family: Nudista-Bold;
  }

  &.fontStyle_bold-italic {
    font-family: Nudista-Bold-Italic;
  }

  &.fontStyle_light {
    font-family: Nudista-Light;
  }

  &.fontStyle_italic {
    font-family: Nudista-Italic;
  }

  &.fontStyle_light-italic {
    font-family: Nudista-Light-Italic;
  }

  &.fontStyle_bold-italic {
    font-family: Nudista-Light-Italic;
  }

  &.fontStyle_medium {
    font-family: Nudista-Medium;
  }

  &.fontStyle_medium-italic {
    font-family: Nudista-Medium-Italic;
  }

  &.fontStyle_semibold {
    font-family: Nudista-Semibold;
  }

  &.fontStyle_semibold-italic {
    font-family: Nudista-Semibold-Italic;
  }

  &.fontStyle_thin {
    font-family: Nudista-Thin;
  }

  &.fontStyle_thin-italic {
    font-family: Nudista-Thin-Italic;
  }

  // Font size:
  &.fontSize_xxs {
    font-size: var(--text-size-xxs);
  }
  &.fontSize_xs {
    font-size: var(--text-size-xs);
  }
  &.fontSize_s {
    font-size: var(--text-size-s);
  }
  &.fontSize_m {
    font-size: var(--text-size-m);
  }
  &.fontSize_l {
    font-size: var(--text-size-l);
  }
  &.fontSize_xl {
    font-size: var(--text-size-xl);
  }
  &.fontSize_xxl {
    font-size: var(--text-size-xxl);
  }

  // Text color:
  &.textColor_primary {
    color: var(--text-color-primary);
  }
  &.textColor_secondary {
    color: var(--text-color-secondary);
  }
  &.textColor_marginal {
    color: var(--text-color-marginal);
  }
  &.textColor_error {
    color: var(--text-color-error);
  }
  &.textColor_success {
    color: var(--text-color-success);
  }
  &.textColor_warning {
    color: var(--text-color-warning);
  }
  &.textColor_disabled {
    color: var(--text-color-disabled);
  }
  &.textColor_inverted {
    color: var(--text-color-inverted);
  }

  // Text transform
  &.textTransform_uppercase {
    text-transform: uppercase;
  }
  
  &.textTransform_lowercase {
    text-transform: lowercase;
  }
  
  &.textTransform_capitalize {
    text-transform: capitalize;
  }
}
