.fct-icon-stroke-color--primary {
  stroke: var(--icon-stroke-color-primary);
}

.fct-icon-stroke-color--secondary {
  stroke: var(--icon-stroke-color-secondary);
}

.fct-icon-stroke-color--marginal {
  stroke: var(--icon-stroke-color-marginal);
}

.fct-icon-stroke-color--error {
  stroke: var(--icon-stroke-color-error);
}

