.host {
  height: var(--input-line-height);
  padding: 3px 6px;
  width: calc(100% - 12px); // reduce by padding
  background: var(--input-background--idle);
  border: 1px solid var(--input-border--idle);
  border-radius: var(--border-radius);
  transition:
    background 0.35s ease-in-out,
    border-color 0.15s ease-in-out;

  &.preContentPostGrid {
    display: grid;
    grid-template-columns: var(--input-line-height) auto var(--input-line-height);
    grid-template-areas: 'a b c';
  }

  &.preContentGrid {
    display: grid;
    grid-template-columns: var(--input-line-height) auto;
    grid-template-areas: 'a b';
  }

  &.contentPostGrid {
    display: grid;
    grid-template-columns: auto var(--input-line-height);
    grid-template-areas: 'b c';
  }

  input {
    background: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;

    &::placeholder {
      color: var(--input-placeholder-color);
      font-family: Nudista-Light-Italic;
    }
  }

  &:focus-within {
    background: var(--input-background--active);
  }

  [grid-area="pre"] {
    grid-area: a;
  }

  [grid-area="content"] {
    grid-area: b;
  }

  [grid-area="post"] {
    grid-area: c;
  }

  &.dirty:not(:focus-within) {
    background: var(--input-background--dirty);
  }
  &.invalid {
    background: #fbefef;
  }
}
