.host {
  background: var(--asap-editor-footer-background);
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 
    var(--asap-editor-footer-border-width) 
    solid 
    var(--asap-editor-footer-border-color);
  line-height: 22px;

  [grid-area="right"] {
    display: flex;
    justify-self: end;
    align-self: center;
    padding-right: 24px;
  }
}