.host {
  display: grid;
  grid-template-areas: 
    'a b'
    'c c';
  grid-template-columns: 48px auto;
  grid-template-rows: auto 24px;
  height: 100%;

  [grid-area="sidebar"] {
    grid-area: a;
  }
  [grid-area="content"] {
    grid-area: b;
  }
  [grid-area="footer"] {
    grid-area: c;
  }
}