.host {
  background: var(--asap-editor-sidebar-background);
  border-right: 
    var(--asap-editor-sidebar-border-width)
    solid
    var(--asap-editor-sidebar-border-color)
  ;

  height: 100%;
}
.sidebarLink {
  width: 100%;
  height: 47px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}