.host {
  width: 400px;
  display: grid;
  grid-template-rows: 300px repeat(2, 48px);
}

.logo {
  justify-self: center;
}

.link {
  cursor: pointer;
  transition: background 0.25s ease-in-out;
  padding: 0 24px; 

  &:hover {
    background: var(--text-background-light);
  }
}
