.host {
  display: grid;
  grid-template-areas: 
    'a a'
    'b c';
  height: 100%;
  grid-template-rows: auto 48px;

  [grid-area="form-content"] {
    grid-area: a;
    align-self: start;
  }

  [grid-area="reset-btn"] {
    grid-area: b;
    align-self: end;
  }

  [grid-area="submit-btn"] {
    grid-area: c;
    align-self: end;
    justify-self: right;
  }
}