:host {
  input {
    padding: 0 12px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    width: calc(100% - 24px);
    outline: 0;
    background: var(--input-background-color);
    border: 1px solid;
    border-color: var(--input-background-color);
    transition: 
      background 0.25s ease-in-out,
      border-color 0.25s ease-in-out;

    &:focus {
      background: var(--input-active-background-color);
      border-color: var(--input-active-border-color);
    }
  }
}