:host {
  [background-color="primary"] {
    background-color: var(--background-primary);
  }

  [background-color="secondary"] {
    background-color: var(--background-secondary);
  }

  [background-color="marginal"] {
    background-color: var(--background-marginal);
  }

  [background-color="ultra-dark"] {
    background-color: var(--background-ultra-dark);
  }

  [background-color="dark"] {
    background-color: var(--background-dark);
  }

  [background-color="light"] {
    background-color: var(--background-light);
  }

  [background-color="ultra-light"] {
    background-color: var(--background-ultra-light);
  }

  [background-color="disabled"] {
    background-color: var(--background-disabled);
  }
}