.host {
  display: grid;
  grid-template-columns: 22px 40px 22px;
  grid-template-areas: 'a b c';
  line-height: 24px;
  height: 24px;

  .day {
    align-self: center;
    justify-self: start;
  }

  .night {
    align-self: center;
    justify-self: end;
  }

  .toggle {
    align-self: center;
    justify-self: center;
  }
}