.host {
  &.textAlign_left {
    text-align: left;
  }

  &.textAlign_right {
    text-align: right;
  }

  &.textAlign_center {
    text-align: center;
  }

  &.textLineHeight_xs {
    line-height: var(--text-line-height-xs);
  }
  &.textLineHeight_s {
    line-height: var(--text-line-height-s);
  }
  &.textLineHeight_m {
    line-height: var(--text-line-height-s);
  }
  &.textLineHeight_l {
    line-height: var(--text-line-height-l);
  }
  &.textLineHeight_xl {
    line-height: var(--text-line-height-xl);
  }
}