:host {
  width: 100%;
  height: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
}

.content-card {
  width: 450px;
  height: 600px;

  .content-cart-header {
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .content-card-body {
    height: 500px;
  }
}

.theme-button {
  cursor: pointer;
}
