<div>
  <article class="content-card">
      <header class="content-cart-header">
        <fct-logo width="50px"></fct-logo>
      </header>
      <section class="content-card-body">
        <ng-content></ng-content>
      </section>
      <footer class="content-card-footer">
      </footer>
    </article>
    <fct-paragraph [textAlign]="'right'" [textSize]="'s'" [textColor]="'secondary'">
      Theme: 
        <ng-container *ngTemplateOutlet="themeButton;context: lightButtonContext"></ng-container>/
        <ng-container *ngTemplateOutlet="themeButton;context: darkButtonContext"></ng-container>
    </fct-paragraph>
</div>

<ng-template #themeButton 
  let-theme="theme" 
  let-label="label" 
  let-i18nDescription="i18nDescription">
  <fct-text-bold 
    [textSize]="'s'" 
    [textColor]="'secondary'"
    [fctSetTheme]="theme"
    i18n="Button switch to dark theme"
    class="theme-button">
    {{label}}
  </fct-text-bold>
</ng-template>
