@keyframes fadeInOut {
  0% {
    fill: transparent;
    stroke-width: 0;
  }
  12.5% {
    fill: var(--anim-color);
    stroke-width: 1.5;
    stroke: #eee;
  }
  62.5% {
    fill: var(--anim-color);
    stroke-width: 1.5;
    stroke: #eee;
  }
  75% {
    fill: transparent;
    stroke-width: 0;
  }
  100% {
    fill: transparent;
    stroke-width: 0;
  }
}

.frag {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  fill: transparent;
}
.frag-1 {
  --anim-color: #005CA9;
  animation-name: fadeInOut;
}
.frag-2 {
  --anim-color: #005CA9;
  animation-name: fadeInOut;
  animation-delay: 0.3s
}
.frag-3 {
  --anim-color: #D51C29;
  animation-name: fadeInOut;
  animation-delay: 0.6s
}
.frag-4 {
  --anim-color: #D51C29;
  animation-name: fadeInOut;
  animation-delay: 0.9s
}
.frag-5 {
  --anim-color: #FFCB05;
  animation-name: fadeInOut;
  animation-delay: 1.2s
}
.frag-6 {
  --anim-color: #FFCB05;
  animation-name: fadeInOut;
  animation-delay: 1.5s
}

svg {
  width: 84px;
  height: 84px;
}