:host {
  [text-color="primary"] {
    color: var(--text-color-primary);
  }

  [text-color="secondary"] {
    color: var(--text-color-secondary);
  }

  [text-color="marginal"] {
    color: var(--text-color-marginal);
  }

  [text-color="error"] {
    color: var(--text-color-error);
  }

  [text-color="disabled"] {
    color: var(--text-color-disabled);
  }

  [text-color="light"] {
    color: var(--text-color-light);
  }
}