body {
  --text-size-xxs: 8px;
  --text-size-xs: 10px;
  --text-size-s: 12px;
  --text-size-m: 14px;
  --text-size-l: 16px;
  --text-size-xl: 18px;
  --text-size-xxl: 20px;

  --heading-size-xxl: 48px;
  --heading-size-xl: 32px;
  --heading-size-l: 24px;
  --heading-size-m: 18px;
  --heading-size-s: 14px;
  --heading-size-xs: 12px;
  --heading-size-xxs: 10px;

  --paragraph-padding-top: 0px;
  --paragraph-padding-bottom: 0px;
  
  --paragraph-line-height-xs: 12px;
  --paragraph-line-height-s: 18px;
  --paragraph-line-height-m: 24px;
  --paragraph-line-height-l: 32px;
  --paragraph-line-height-xl: 48px;
  --paragraph-line-height-xxl: 96px;

  --icon-size-extra-small: 12px;
  --icon-size-small: 18px;
  --icon-size-medium: 24px;
  --icon-size-large: 30px;
  --icon-size-extra-large: 48px;

  --icon-stroke-width-extra-thin: 1;
  --icon-stroke-width-thin: 1.5;
  --icon-stroke-width-light: 2;
  --icon-stroke-width-regular: 2.5;
  --icon-stroke-width-semibold: 3;
  --icon-stroke-width-bold: 4;
  --icon-stroke-width-extra-bold: 5;

  --asap-workspace-sidebar-menu-width: 50px;
}
