
.theme-light {
  --error-color: #d01313;
  --error-light-color: #da9e9e;

  // COLORS --------------------------------------------------------------------
  // Theme absolute colors
  --color-ultra-light:      rgb(238, 238, 238);
  --color-light:            rgb(168, 188, 217);
  --color-ultra-dark:       rgb(9, 26, 50);
  --color-dark:             rgb(26, 53, 91);
  --color-error:            red;
  // Theme variable colors
  --color-primary:          var(--color-ultra-dark);
  --color-secondary:        var(--color-dark);

  // BACKGROUNDS ---------------------------------------------------------------
  --background-ultra-light: var(--color-ultra-light);
  --background-light:       var(--color-light);
  --background-dark:        var(--color-dark);
  --background-ultra-dark:  var(--color-ultra-dark);

  --background-primary:     var(--color-ultra-light);
  --background-secondary:   var(--color-light);

  // BORDER -----
  --border-primary:         var(--color-light);

  --primary-invert-color: #d1e1fa;
  --primary-invert-light-color: #ecf3fd;
  --primary-light-color: rgb(106, 106, 134);

  --secondary-light-color: rgb(199, 199, 199);

  --marginal-color: rgb(224, 224, 224);
  --marginal-light-color: rgb(236, 236, 236);

  --base-color: #ebebeb;
  --theme-transition-speed: 0.25s;
  --text-color-primary: var(--color-primary);
  --text-color-secondary: var(--color-secondary);
  --text-color-light: var(--color-light);
  --text-color-ultra-light: var(--color-ultra-light);

  --text-color-primary-invert: var(--primary-invert-color);
  --text-color-marginal: var(--marginal-color);
  --text-color-error: var(--error-color);
  --text-color-disabled: #727677;
  --text-color-disabled-invert: #949494;

  // ICONS ---------------------------------------------------------------------
  --input-background-color: #ffffff;
  --input-border-color: #cbcbcb;
  --input-placeholder-color: rgb(88, 88, 88);
  --input-invalid-border-color: var(--error-color);

  --icon-stroke-color-primary: var(--color-primary);
  --icon-stroke-color-secondary: var(--color-secondary);
  --icon-stroke-color-inverted: var(--primary-invert-color);
  --icon-stroke-color-inverted-hover: var(--primary-invert-light-color);
  --icon-stroke-color-marginal: var(--marginal-color);
  --icon-stroke-color-error: var(--error-color);

  --icon-fill-color-primary: var(--primary-light-color);
  --icon-fill-color-secondary: var(--secondary-light-color);
  --icon-fill-color-marginal: var(--marginal-light-color);
  --icon-fill-color-error: var(--error-light-color);

  // BUTTONS -------------------------------------------------------------------
  --button-background-color-light: var(--color-light);
  --button-background-colorl-ultra-light: var(--color-ultra-light);

  --button-hover-shadow-color: var(--color-seconday);
  --button-active-shadow-color: #686f7c;
  --button-primary-background: var(--color-primary);
  --butotn-primary-disabled-background: #ababaf;
  --button-primary-hover-background: #585894;
  --button-primary-active-background: #46466d;

// INPUT -----------------------------------------------------------------------
--input-background-color: #f7f7f7;
--input-active-background-color: #ffffff;
--input-active-border-color: var(--color-light);

// SIDEBAR MENU ----------------------------------------------------------------
  --sidebar-menu-background: var(--color-secondary);

// FOOTER ----------------------------------------------------------------------
  --workspace-footer-background: var(--color-primary);
// PROJECT EXPLORER ------------------------------------------------------------
  --projects-explorer-background: #f7f7f7;
}

