
.theme-dark {
  --error-color: #b55454;
  --error-light-color: #da9e9e;

  --color-primary: #9cc4d2;
  --primary-light-color: #bad1da;

  --color-primary: #bccfd6;
  --secondary-light-color: #d4dde0;

  --marginal-color: #7a8a90;
  --marginal-light-color: #b2b6b8;

  --base-color: #191927;
  --theme-transition-speed: 0.25s;
  --text-color-primary: var(--color-primary);
  --text-color-secondary: var(--color-primary);
  --text-color-marginal: var(--marginal-color);
  --text-color-error: var(--error-color);
  --text-color-disabled-invert: #949494;
  --text-color-disabled: #727677;

  // ICONS ---------------------------------------------------------------------
  --input-background-color: #485169;
  --input-border-color: #646d86;
  --input-placeholder-color: #bccfd6;
  --input-invalid-border-color: var(--error-color);

  --icon-primary-color: var(--color-primary);
  --icon-stroke-color-primary: var(--color-primary);
  --icon-stroke-color-secondary: var(--color-primary);
  --icon-stroke-color-marginal: var(--marginal-color);
  --icon-stroke-color-error: var(--error-color);

  --icon-fill-color-primary: var(--primary-light-color);
  --icon-fill-color-secondary: var(--secondary-light-color);
  --icon-fill-color-marginal: var(--marginal-light-color);
  --icon-fill-color-error: var(--error-light-color);

  // BUTTONS -------------------------------------------------------------------
  --button-hover-shadow-color: #60607949;
  --button-active-shadow-color: #2f305078;
  --button-primary-background: var(--color-primary);
  --butotn-primary-disabled-background: #484850;
  --button-primary-hover-background: #585894;
  --button-primary-active-background: #46466d;
}