:host {
  display: grid;
  grid-template-columns: 150px 300px auto;
  grid-column-gap: 24px;
  grid-template-rows: repeat(2, 24px);
  grid-template-areas: 
    'a b c' // label | file name | upload button
    'x d d' //  --- message line here ---
  ;
  .label {
    grid-area: a;
  }
  .file-name {
    grid-area: b;
  }
  fct-button {
    grid-area: c;
    justify-self: end;

    input {
      display: none;
    }
  }
  .messages {
    grid-area: d;
  }
}