<fct-label 
  [for]="name"
  [textAlign]="labelTextAlign"
  [textColor]="labelTextColor"
  [textSize]="labelFontSize"
  [textStyle]="labelFontStyle"
  [textTransform]="labelTextTransform"
  [lineHeight]="lineHeight"
  [required]="required"
  class="label">
  <ng-content select="[role=label]"></ng-content>:
</fct-label>
<fct-label
  [textStyle]="'light-italic'"
  [lineHeight]="lineHeight"
  class="fileName">
  {{file ? file.name : ''}}
</fct-label>
<fct-button (buttonClick)="handleUploadButtonClick()">
  <input 
    #fileInput
    type="file" 
    name="upload" 
    (change)="handleFileInput($event)"
    id="upload" />
  Upload
</fct-button>
<div class="messages" *ngIf="control | isControlInvalid">
  <fct-paragraph 
    [textStyle]="'light-italic'"
    [textColor]="'error'">
    <div *ngIf="control.errors['required']">
        Field is required. Please select a file!
      </div>
      <div *ngIf="control.errors['requiredFileType']">
        Invalid file detected: "{{control.errors['requiredFileType'].asserted }}"!
        Please insert file of type: "{{control.errors['requiredFileType'].expected | arrayJoin }}"
      </div>
      <ng-content select="[role=errors]"></ng-content>
  </fct-paragraph>
  
</div>

