.button {
  border: 0;
  padding: 6px 24px;
  min-width: 140px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: 
      background 0.35s ease-in-out,
      box-shadow 0.15s ease-in-out;

  &.primary/* idle */{
    background: var(--button-primary-background--idle);
    box-shadow: 0px 1.5px 1px 0px var(--button-primary-shadow--idle);
  }
  &.primary[disabled] {
    background: var(--button-primary-background--disabled);
  }
  &.primary:hover:not([disabled]) {
    background: var(--button-primary-background--hover);
    box-shadow: 0px 2px 2px 0px var(--button-primary-shadow--hover);
  }
  &.primary:active:not([disabled]) {
    background: var(--button-primary-background--active);
    box-shadow: 0px 2px 2px -1px var(--button-primary-shadow--active);
  }

  &.secondary/* idle */{
    background: var(--button-secondary-background--idle);
    box-shadow: 0px 1.5px 1px 0px var(--button-secondary-shadow--idle);
  }
  &.secondary[disabled] {
    background: var(--button-secondary-background--disabled);
  }
  &.secondary:hover:not([disabled]) {
    background: var(--button-secondary-background--hover);
    box-shadow: 0px 2px 2px 0px var(--button-secondary-shadow--hover);
  }
  &.secondary:active:not([disabled]) {
    background: var(--button-secondary-background--active);
    box-shadow: 0px 2px 2px -1px var(--button-secondary-shadow--active);
  }

  &.fullWidth {
    width: 100%;
  }

  &[disabled] {
    cursor: initial;
  }

  &:focus {
    outline: 0;
  }
}