:host {
  [font-style="bold"] {
    font-family: Nudista-Bold;
  }

  [font-style="bold-italic"] {
    font-family: Nudista-Bold-Italic;
  }

  [font-style="light"] {
    font-family: Nudista-Light;
  }

  [font-style="italic"] {
    font-family: Nudista-Italic;
  }

  [font-style="light-italic"] {
    font-family: Nudista-Light-Italic;
  }

  [font-style="bold-italic"] {
    font-family: Nudista-Light-Italic;
  }

  [font-style="medium"] {
    font-family: Nudista-Medium;
  }

  [font-style="medium-italic"] {
    font-family: Nudista-Medium-Italic;
  }

  [font-style="semibold"] {
    font-family: Nudista-Semibold;
  }

  [font-style="semibold-italic"] {
    font-family: Nudista-Semibold-Italic;
  }

  [font-style="thin"] {
    font-family: Nudista-Thin;
  }

  [font-style="thin-italic"] {
    font-family: Nudista-Thin-Italic;
  } 
}